* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;
}

#header {
    background-color: #999999;
    position: fixed;
    width: 100%;
}

#header .content {
    background: url("/assets/images/monitor2.png") no-repeat;
    height: 128px;
    padding-left: 134px;
    padding-right: 10px;
    color: white;
    width: 960px;

    placement: center;
    text-vertical-align: middle;
    /*
    display: table-cell;
    vertical-align: middle;*/
}

#header em {
    font-weight: bold;
}

#main {
    margin: 10px 5px 5px;
    width: 960px;

    placement: center;
    layout: flow-horizontal;
}

#main .articles {
    /*column: 1;
    float: left;
    width: 60%;
    */
    width: 740px;
    /*width-expand-ratio: 100;*/
}

.aside {
    /*column: 2;
    float: left;
    */
    width: 200px;
}

.promo {
    border: #000 solid 1px;
    margin: 10px;
    padding: 5px;
}

.article {
    margin-top: 10px;
}

.article h1 {
    text-transform: capitalize;
    font-weight: bold;
}

.footer {
    clear: left;
    font-size: 8pt;
    margin: 10px 0px;
}
