@(csspath: Call)

<!DOCTYPE html>
<html>
    <head>
        <title>Is this perfect?</title>
        <link rel="stylesheet" media="screen" href="@csspath">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/virtualcss.js")" type="text/javascript"></script>
    </head>
    <body>
        <div id="output"></div>
        <div id="header">
            <div class="content">This heading should have <em>vertically aligned text</em>, its background should <em>
                span the page width</em>, and it should remain <em>fixed</em>
                at the top of the page while the rest of the page scrolls. The image and text should
                be the same width as the content below.
            </div>
        </div>
        <div id="main">
            <div class="articles">
                <div class="article">
                    <h1>This is the first column</h1>
                    <p>This column should expand to fill the available space in its container.</p>
                    <p>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Sed facilisis, ipsum ut dignissim
                        faucibus, odio massa luctus ipsum, eget tempor odio felis ut eros. Suspendisse potenti. Nulla facilisi. Duis
                        a
                        blandit risus, a rutrum dui. Fusce a lacinia urna. Mauris in ipsum consequat, dignissim diam a, suscipit
                        mauris.
                        Maecenas quis tortor nec massa fermentum vehicula eget eget dui. Morbi tempus pretium orci at sollicitudin.
                        Phasellus dignissim, tellus eget ultrices sodales, lectus enim aliquet justo, vitae porttitor felis felis
                        sed
                        lectus. Vestibulum sit amet justo ipsum. Integer est neque, eleifend aliquam interdum eget, cursus eget
                        nibh.
                        Mauris sed pulvinar dui. Sed sagittis turpis eu enim suscipit, vel consectetur lacus pharetra. Suspendisse
                        placerat ante nec vehicula convallis.</p>
                </div>
                <div class="article">
                    <h1>Mauris magna elit</h1>

                    <p>Maecenas tristique viverra odio sed egestas. Curabitur fermentum, justo id tempus mollis, quam
                        lacus lobortis lectus, id facilisis metus metus ut nulla. Praesent sit amet interdum eros, non auctor
                        tortor.
                        Nam vel tortor justo. Mauris sed lacinia mauris, in venenatis ipsum. Sed posuere quam ante, vel consectetur
                        libero egestas ac. Mauris magna elit, varius eu mauris sed, faucibus euismod odio. Aenean a odio sed sapien
                        euismod ornare et quis dui. Ut mollis lorem augue, at tristique odio mattis sit amet. Etiam placerat enim
                        magna,
                        vitae dictum metus adipiscing sit amet.</p>
                </div>
                <div class="article">
                    <h1>scelerisque nunc rhoncus</h1>

                    <p>Curabitur dictum posuere congue. Donec neque felis, rhoncus id elit quis, condimentum tincidunt
                        neque. Integer posuere dui lorem, sit amet bibendum urna pharetra sed. Quisque ut ultricies nisi. Sed
                        scelerisque nunc rhoncus, blandit augue at, mollis diam. Aliquam erat volutpat. Praesent volutpat nulla eget
                        magna accumsan, at facilisis dui hendrerit. Mauris scelerisque in est ac convallis. Pellentesque fermentum
                        nulla
                        eget leo rutrum, eget convallis odio fringilla. Sed ultrices rhoncus metus et placerat. Etiam congue commodo
                        libero, et eleifend dui ornare a. Cras ut viverra massa. Maecenas eros ligula, tincidunt et pretium
                        tincidunt,
                        mollis vel quam. Cras ultrices sem sit amet nibh vulputate vestibulum. Nunc tempus lacus vitae nisi laoreet
                        varius. Maecenas egestas quam purus, non cursus metus tincidunt et.</p>
                </div>
                <div class="article">
                    <h1>fermentum vehicula eget</h1>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis, ipsum ut dignissim
                        faucibus, odio massa luctus ipsum, eget tempor odio felis ut eros. Suspendisse potenti. Nulla facilisi. Duis
                        a
                        blandit risus, a rutrum dui. Fusce a lacinia urna. Mauris in ipsum consequat, dignissim diam a, suscipit
                        mauris.
                        Maecenas quis tortor nec massa fermentum vehicula eget eget dui. Morbi tempus pretium orci at sollicitudin.
                        Phasellus dignissim, tellus eget ultrices sodales, lectus enim aliquet justo, vitae porttitor felis felis
                        sed
                        lectus. Vestibulum sit amet justo ipsum. Integer est neque, eleifend aliquam interdum eget, cursus eget
                        nibh.
                        Mauris sed pulvinar dui. Sed sagittis turpis eu enim suscipit, vel consectetur lacus pharetra. Suspendisse
                        placerat ante nec vehicula convallis.</p>
                </div>
                <div class="article">
                    <h1>Mauris magna elit</h1>

                    <p>Maecenas tristique viverra odio sed egestas. Curabitur fermentum, justo id tempus mollis, quam
                        lacus lobortis lectus, id facilisis metus metus ut nulla. Praesent sit amet interdum eros, non auctor
                        tortor.
                        Nam vel tortor justo. Mauris sed lacinia mauris, in venenatis ipsum. Sed posuere quam ante, vel consectetur
                        libero egestas ac. Mauris magna elit, varius eu mauris sed, faucibus euismod odio. Aenean a odio sed sapien
                        euismod ornare et quis dui. Ut mollis lorem augue, at tristique odio mattis sit amet. Etiam placerat enim
                        magna,
                        vitae dictum metus adipiscing sit amet.</p>
                </div>
                <div class="article">
                    <h1>scelerisque nunc rhoncus</h1>

                    <p>Curabitur dictum posuere congue. Donec neque felis, rhoncus id elit quis, condimentum tincidunt
                        neque. Integer posuere dui lorem, sit amet bibendum urna pharetra sed. Quisque ut ultricies nisi. Sed
                        scelerisque nunc rhoncus, blandit augue at, mollis diam. Aliquam erat volutpat. Praesent volutpat nulla eget
                        magna accumsan, at facilisis dui hendrerit. Mauris scelerisque in est ac convallis. Pellentesque fermentum
                        nulla
                        eget leo rutrum, eget convallis odio fringilla. Sed ultrices rhoncus metus et placerat. Etiam congue commodo
                        libero, et eleifend dui ornare a. Cras ut viverra massa. Maecenas eros ligula, tincidunt et pretium
                        tincidunt,
                        mollis vel quam. Cras ultrices sem sit amet nibh vulputate vestibulum. Nunc tempus lacus vitae nisi laoreet
                        varius. Maecenas egestas quam purus, non cursus metus tincidunt et.</p>
                </div>
                <div class="article">
                    <h1>fermentum vehicula eget</h1>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis, ipsum ut dignissim
                        faucibus, odio massa luctus ipsum, eget tempor odio felis ut eros. Suspendisse potenti. Nulla facilisi. Duis
                        a
                        blandit risus, a rutrum dui. Fusce a lacinia urna. Mauris in ipsum consequat, dignissim diam a, suscipit
                        mauris.
                        Maecenas quis tortor nec massa fermentum vehicula eget eget dui. Morbi tempus pretium orci at sollicitudin.
                        Phasellus dignissim, tellus eget ultrices sodales, lectus enim aliquet justo, vitae porttitor felis felis
                        sed
                        lectus. Vestibulum sit amet justo ipsum. Integer est neque, eleifend aliquam interdum eget, cursus eget
                        nibh.
                        Mauris sed pulvinar dui. Sed sagittis turpis eu enim suscipit, vel consectetur lacus pharetra. Suspendisse
                        placerat ante nec vehicula convallis.</p>
                </div>
                <div class="article">
                    <h1>Mauris magna elit</h1>

                    <p>Maecenas tristique viverra odio sed egestas. Curabitur fermentum, justo id tempus mollis, quam
                        lacus lobortis lectus, id facilisis metus metus ut nulla. Praesent sit amet interdum eros, non auctor
                        tortor.
                        Nam vel tortor justo. Mauris sed lacinia mauris, in venenatis ipsum. Sed posuere quam ante, vel consectetur
                        libero egestas ac. Mauris magna elit, varius eu mauris sed, faucibus euismod odio. Aenean a odio sed sapien
                        euismod ornare et quis dui. Ut mollis lorem augue, at tristique odio mattis sit amet. Etiam placerat enim
                        magna,
                        vitae dictum metus adipiscing sit amet.</p>
                </div>
                <div class="article">
                    <h1>scelerisque nunc rhoncus</h1>

                    <p>Curabitur dictum posuere congue. Donec neque felis, rhoncus id elit quis, condimentum tincidunt
                        neque. Integer posuere dui lorem, sit amet bibendum urna pharetra sed. Quisque ut ultricies nisi. Sed
                        scelerisque nunc rhoncus, blandit augue at, mollis diam. Aliquam erat volutpat. Praesent volutpat nulla eget
                        magna accumsan, at facilisis dui hendrerit. Mauris scelerisque in est ac convallis. Pellentesque fermentum
                        nulla
                        eget leo rutrum, eget convallis odio fringilla. Sed ultrices rhoncus metus et placerat. Etiam congue commodo
                        libero, et eleifend dui ornare a. Cras ut viverra massa. Maecenas eros ligula, tincidunt et pretium
                        tincidunt,
                        mollis vel quam. Cras ultrices sem sit amet nibh vulputate vestibulum. Nunc tempus lacus vitae nisi laoreet
                        varius. Maecenas egestas quam purus, non cursus metus tincidunt et.</p>
                </div>
            </div>
            <div class="aside">
                <div class="promo">These boxes should form a second column under the heading</div>
                <div class="promo">They should remain the same width all the time</div>
                <div class="promo"><img/>This text should flow around image nicely</div>
                <div class="promo">I am a donut</div>
                <div class="promo">Free! Free! Free!</div>
            </div>
        </div>
        <div class="footer">This is the footer, which should scroll with the rest of the page.</div>
    </body>
</html>